<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem dá mais?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/cadastro.css">

</head>
<body>
    
<header class="header">

    <a href="index.html" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="#planos">Quem somos</a>       
        <a href="/listar">Produtos</a>
        <a href="upload.html">Cadastrar produto</a>
        <a href="#blogs">Links Úteis</a>
    </nav>
    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>

    
</header>




<section class="contato" id="contato">

    <h1 class="heading"> <span>SOLICITE</span> CONTATO </h1>

    <div class="row">

        
        <form action="/cadastro" method="POST" enctype="multipart/form-data">
            <h3>PREENCHA SEUS DADOS</h3>
            
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input type="email" name="email" placeholder="EMAIL">
            </div>
            <div class="inputBox">
                <span class="fas fa-key"></span>
                <input type="password" name="senha" placeholder="SENHA">
            </div>
            <div class="inputBox">
                <span class="fas fa-key"></span>
                <input type="password" name="confirma_senha" placeholder="CONFIRME SUA SENHA">
            </div>
            <div class="inputBox">
                <span class="fas fa-id-card"></span>
                <input type="number" name="cpf" placeholder="CPF OU CNPJ" maxlength="14">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input type="number" name="telefone" placeholder="TELEFONE">
            </div>
            <div class="inputBox">
                <span class="fas fa-camera" ></span>
                <input type="file" name="foto_perfil" placeholder="Selecione uma foto para o perfil" required>
            </div>
            <input type="submit" value="Cadastrar" class="btn">
            <button><a href="suporte.html"class="btn">Retornar a Tela de Login</a> </a></button>

    </div>

</section>





<section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-github"></a>
        <a href="https://www.instagram.com/du_sampaio/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-linkedin"></a>
    </div>

    <div class="links">
        <a href="index.html">home</a>
        <a href="#Sobre Nós">Sobre Nós</a>       
        <a href="#projetos">Produtos</a>
        <a href="#review">review</a>
        <a href="#contato">contato</a>
        <a href="#blogs">Links Úteis</a>
    </div>

    <div class="credit">created by <span>Eduardo Sampaio</span> | all rights reserved</div>

</section>






<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>