<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem dá mais?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/financeiro.css">

</head>
<body>
    
<header class="header">

    <a href="index.html" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="index.html">home</a>
        <a href="#planos">planos</a>       
        <a href="#projetos">Produtos</a>
        <a href="#review">review</a>
        <a href="#contato">contato</a>
        <a href="#blogs">Links Úteis</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>


</header>

<section class="home" id="home">

    <div class="content">
        <h3>FINANCEIRO GATO NET</h3>
        <p>Acesse aqui suas faturas e fique em dias com seu plano</p>
        <a href="#" class="btn">Saiba mais...</a>
    </div>

</section>


<section class="projetos" id="projetos">

    
    <h1 class="heading"> Visualize suas <span>faturas</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.php" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Janeiro</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                    
                </div>
              <div class="price">R$129,90 <span></span></div> 
            </div>
        </div>

        <div class="box">
            <div class="icons">
              <!--  <a href="#" class="fas fa-shopping-cart"></a>  -->
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.html" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Fevereiro</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                </div>
              <div class="price">R$129,90 <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.html" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Março</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                </div>
              <div class="price">R$129,90 <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.html" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Abril</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                </div>
              <div class="price">R$129,90 <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.html" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Maio</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                </div>
              <div class="price">R$129,90 <span></span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="boleto.html" target="_blank" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/fatura-2.png" alt="">
            </div>
            <div class="content">
                <h3>Junho</h3>
                <div class="stars">
                    <i class="fas fa-money"></i>
                    <i class="fas fa-credit-card"></i>
                    <i class="fas fa-paypal"></i>
                </div>
              <div class="price">R$129,90 <span></span></div>
            </div>
        </div>

    </div>

</section>


<section class="footer">

    <div class="share">
        <a href="#/" class="fab fa-facebook-f"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-github"></a>
        <a href="https://www.instagram.com/du_sampaio/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-linkedin"></a>
    </div>

    <div class="links">
        <a href="#home">home</a>
        <a href="#planos">planos</a>       
        <a href="#projetos">Produtos</a>
        <a href="#review">review</a>
        <a href="#contato">contato</a>
        <a href="#blogs">Links Úteis</a>
    </div>

    <div class="credit">created by <span>Eduardo Sampaio</span> | all rights reserved</div>

</section>





<script src="js/script.js"></script>

</body>
</html>