<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem dá mais?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<header class="header">

    <a href="index.html" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="#planos">Quem somos</a>       
        <a href="/listar">Produtos</a>
        <a href="upload.html">Cadastrar produto</a>
        <a href="#blogs">Links Úteis</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>


</header>

<section class="home" id="home">

    <div class="content">
        <h3>Quem Dá Mais?</h3>
        <p>Anuncie seus produtos que não utiliza mais</p>
        <a href="#" class="btn">Saiba mais...</a>
    </div>

</section>

<section class="planos" id="planos">

    <h1 class="heading"> <span>Como funciona?</span></h1>

    <div class="row">

        <div class="image">
            <img src="images/about-img.png" alt="">
        </div>

        <div class="content">
            <h3>Compre de maneira simples e com segurança!</h3>
            <p>Leilões Irresistíveis: Descubra Tesouros em Cada Lance! Bem-vindo ao nosso universo emocionante de leilões de bens usados sem lance mínimo. Prepare-se para uma jornada única, onde as oportunidades são infinitas e os preços são irresistíveis. Explore uma seleção diversificada de itens cuidadosamente escolhidos, prontos para encontrar novos lares e encantar novos proprietários. Com lances a partir do zero, você está no controle total do seu próximo grande achado. Não perca a chance de participar de leilões repletos de empolgação, emoção e, é claro, grandes negócios. Sinta a adrenalina, junte-se à competição e faça parte de uma comunidade apaixonada por garimpar pechinchas. Bem-vindo ao leilão onde as ofertas não têm limites, e as recompensas são inestimáveis. Seu próximo tesouro está a apenas um lance de distância!</p>
                     <a href="https://static1.purebreak.com.br/articles/2/23/65/2/@/119125-memes-no-whatsapp-nao-deixe-de-comparti-700x700-2.jpg" class="btn">FALE COM UM CONSULTOR</a>
        </div>

    </div>

</section>

<section class="projetos" id="projetos">

    
    <h1 class="heading"> Ultimos Produtos <span>Anunciados</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-gavel"></a>  
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/product-1.png" alt="">
            </div>
            <div class="content">
                <h3>Roteador</h3>
                <div class="stars">
                    <h3>Lance Atual</h3>
                </div>
              <div class="price">R$389,90 <span>R$499,90</span></div> 
            </div>
        </div>

        <div class="box">
            <div class="icons">
              <a href="#" class="fas fa-gavel"></a> 
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/product-2.png" alt="">
            </div>
            <div class="content">
                <h3>Telefone Fixo com Ramal</h3>
                <div class="stars">
                    <h3>Lance Atual</h3>
                </div>
              <div class="price">R$89,90 <span>R$129,99</span></div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-gavel"></a> 
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/product-3.png" alt="">
            </div>
            <div class="content">
                <h3>Tv Por Assinatura</h3>
                <div class="stars">
                    <h3>Lance Atual</h3>
                </div>
              <div class="price">R$89,90 <span>R$99,99</span></div>
            </div>
        </div>

    </div>

</section>


<section class="review" id="review">

    <h1 class="heading"> Feed<span>Back</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>É bom. Comprei uma peixeira nova no leilão, fui partir uma carne e cortou até a mesa!</p>
            <p>   </p>
            <p>   </p>
            <img src="images/pic-1.png" class="user" alt="">
            <h3>Tiringa</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p> Olá Meus amigos, pode apostar que esse leilão é muito bom, comprei uma caixa de caneta azul e um microfone bem grande (lá ele). .</p>
            <p>   </p>
            <img src="images/pic-2.png" class="user" alt="">
            <h3>Manuel Gomes</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        
        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>Não Gostuai...</p>
            <p>... Asmei</p>
            <img src="images/pic-3.png" class="user" alt="">
            <h3>Rei do Kuduairo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>


<section class="contato" id="contato">

    <h1 class="heading"> <span>Faça</span> Login </h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.3031299674503!2d-39.31377462584139!3d-7.206216792799318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a178ad71080c59%3A0x5b2a22386c2711fd!2sCentro%20Universit%C3%A1rio%20Para%C3%ADso%20-%20UniFAP!5e0!3m2!1spt-BR!2sbr!4v1683835516014!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" ></iframe>

        <form action="/login" method="POST">
            <h3>PREENCHA SEUS DADOS</h3>
            
        <div class="inputBox">
            <span class="fas fa-envelope"></span>
            <input type="email" name="email" placeholder="EMAIL">
        </div>
        <div class="inputBox">
            <span class="fas fa-key"></span>
            <input type="password" name="senha" placeholder="SENHA">
        </div>
        <input type="submit" value="Entrar" class="btn">
        <a href="cadastro.html" class="btn">Clique Aqui Caso não tenha Cadastro</a>
    </form>

    </div>

</section>



<section class="blogs" id="blogs">

    <h1 class="heading"> Links <span>Úteis</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/blog-1.jpeg" alt="">
            </div>
            <div class="content">
                <a href="suporte.html" class="title">Suporte Técnico</a>
                <span>Solicite aqui o Suporte</span>
                <p>Solicite aqui o suporte ou reinicie o roteador para tentar sozinho!</p>
                <p> </p>   
                <button><a href="suporte.html"class="btn">Suporte</a> </a></button>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/blog-2.jpeg" alt="">
            </div>
            <div class="content">
                <a href="financeiro.html" class="title">Financeiro</a>
                <span>Acesse suas faturas</span>
                <p>Tenha o controle financeiro e não nos faça perder tempo cancelando seus beneficios!</p>
                <p> </p>   
                <button><a href="financeiro.html"  class="btn">Faturas</a> </a></button>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/blog-3.jpeg" alt="">
            </div>
            <div class="content">
                <a href="https://g1.globo.com" target="_blank" class="title">Acesse aqui as últimas noticias</a>
                <span>Noticias recentes</span>
                <p>Últimas notícias do Brasil e do mundo, sobre política, economia, emprego, educação, saúde, meio ambiente, tecnologia, ciência, cultura e carros.</p>
                <button><a href="https://g1.globo.com" target="_blank" class="btn">Noticias</a>  </a></button>
            </div>
        </div>

    </div>

</section>


<section class="footer">

    <div class="share">
        <a href="#/" class="fab fa-facebook-f"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-github" target="_blank"></a> 
        <a href="https://www.instagram.com/du_sampaio/" class="fab fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-linkedin" target="_blank"></a>
    </div>

    <div class="links">
        <a href="index.html">home</a>
        <a href="#planos">planos</a>       
        <a href="#projetos">Produtos</a>
        <a href="#review">review</a>
        <a href="#contato">contato</a>
        <a href="#blogs">Links Úteis</a>
    </div>

    <div class="credit">created by <span>Eduardo Sampaio</span> | all rights reserved</div>

</section>





<script src="js/script.js"></script>

</body>
</html>