<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="css/listaProdutos.css">
</head>
<body>
    <header class="header">

        <a href="index.html" class="logo">
            <img src="images/logo.png" alt="">
        </a>
    
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="#planos">Quem somos</a>       
            <a href="/listar">Produtos</a>
            <a href="upload.html">Cadastrar produto</a>
            <a href="#blogs">Links Úteis</a>
        </nav>
    
        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    
        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    
    
    </header>
    <div class="bgcardproduct">
    
    <div class="container">
        <h1>Leilões ativos</h1>
        <div class="product-list">
            <ul>
                <div class="product-card">  
                    {{range .}}
                        <li>
                            <div class="product-image">
                                <img src="data:image/png;base64,{{.FotoProduct}}" alt="Foto do Produto">
                            </div>
                                <div class="product-title">
                                    <strong>{{.Nome}}</strong>
                                </div>
                                    <div class="product-price">
                                        R$ {{.LanceInicial}},00
                                    </div>
                                        <div class="product-end">
                                            Expira em: {{.TmpExpiracao}} dias
                                        </div>
                            <div class="product-details">
                                Descrição: {{.Descricao}}
                            </div>
                        </li>
                    {{end}}
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>