<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="css/listaProdutos.css">
</head>
<body>
    <header class="header">

        <a href="index.html" class="logo">
            <img src="images/logo.png" alt="">
        </a>
    
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="#planos">Quem somos</a>       
            <a href="/listar">Produtos</a>
            <a href="upload.html">Cadastrar produto</a>
            <a href="#blogs">Links Úteis</a>
        </nav>
    
        <div class="icons">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>
    
        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    
    
    </header>
    <div class="bgcardproduct">
    
    <div class="container">
        <h1>Leilões ativos</h1>
        <div class="product-list">
            <ul>
                {{range .}}
                <div class="product-card">  
                        <li>
                            <div class="product-image">
                                <img src="data:image/png;base64,{{.FotoProduct}}" alt="Foto do Produto">
                            </div>
                                    <div class="product-title">
                                        <strong>{{.Nome}}</strong>
                                    </div>
                                    <div class="product-price">
                                        R$ {{.LanceInicial}},00
                                    </div>
                                        <div class="product-end">
                                            Expira em: {{.TmpExpiracao}} dias
                                        </div>
                            <div class="product-details">
                                Descrição: {{.Descricao}}
                            </div>
                        </li>
                </div>
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITE GATO NET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<header class="header">

    <a href="#" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="index.html">Home</a>
        <a href="#planos">Quem somos</a>       
        <a href="/listar">Produtos</a>
        <a href="upload.html">Cadastrar produto</a>
        <a href="#blogs">Links Úteis</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>


</header>

<section class="home" id="home">

    <div class="content">
        <h3>Quem Dá Mais?</h3>
        <p>Anuncie seus produtos que não utiliza mais</p>
        <a href="#" class="btn">Saiba mais...</a>
    </div>

</section>



<section class="projetos" id="projetos">   
    <h1 class="heading"> Leilões <span>em andamento</span> </h1>

    <div class="box-container">
        {{range .}}
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-gavel"></a>  
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image" style="object-fit: contain;">
                <img src="data:image/png;base64,{{.FotoProduct}}" alt="Foto do Produto" style="width:100%; border-radius: 10px;">
            </div>
            <div class="content">
                <h3>{{.Nome}}</h3>
                <div class="">
                    <h2>{{.Descricao}}</h2>
                </div>
              <div class="price">R$ {{.LanceInicial}},00 <br>
                Expira em: {{.TmpExpiracao}} dias
              </div> 
            </div>
        </div>
        {{end}}
    </div>
</section>

<section class="footer">

    <div class="share">
        <a href="#/" class="fab fa-facebook-f"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-github" target="_blank"></a> 
        <a href="https://www.instagram.com/du_sampaio/" class="fab fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/eduardo-sampaio-05b4ab247/" class="fab fa-linkedin" target="_blank"></a>
    </div>

    <div class="links">
        <a href="#home">Home</a>
        <a href="#planos">Planos</a>       
        <a href="#projetos">Produtos</a>
        <a href="#review">Review</a>
        <a href="#contato">Contato</a>
        <a href="#blogs">Links Úteis</a>
    </div>

    <div class="credit">created by <span>Eduardo Sampaio</span> | all rights reserved</div>

</section>

</body>
</html>