<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="css/listaProdutos.css">
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {{range .}}
            <li>
                <img src="data:image/png;base64,{{.FotoProduct}}" alt="Foto do Produto">
                <strong>{{.Nome}}</strong> - 
                R$ {{.LanceInicial}} - 
                Expira em: {{.TmpExpiracao}} dias
            </li>
        {{end}}
    </ul>
</body>
</html>